---
layout: default
title: 归档
permalink: /archive/
public: true
---

<div class="home">

  <h1 class="page-heading">Archives<span>({{ site.posts | size }})</span></h1>

  <ul class="post-list">

	
    <h3>{{ post_year1 }}</h3>
    <ul class="article-year fn-clear">
        {% for post in site.posts %}
            {% capture post_year2 %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% if post_year1 != post_year2 %}
                {% assign post_year1 = post_year2 %}
    </ul>
    <h3>{{ post_year1 }}</h3>
    <ul class="article-year fn-clear">
            {% endif %}
        <li>
            <span>{{ post.date | date_to_utc | date: '%Y-%m-%d' }} » </span>
            <a href="{{ post.url }}" target="_self">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>

  </ul>
</div>