---
layout: default
---

<div class="home">
  <a class="rss-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a>
  <h1 class="page-heading">Articles</h1>
  
  <ul class="post-list">
    {% for post in paginator.posts %}
       {% if post.public != false %} <!-- 跳过需要渲染但不想发表的文章 -->  
        <li>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" target="_self">{{ post.title }}</a>
          </h2>
          
          <div class="post-meta">{{ post.date | date: "%Y-%m-%d" }}{% if post.author %} • {{ post.author }}{% endif %}</div>

          <div class="post-excerpt">
            {{ post.excerpt }}
            <p>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" target="_self">阅读全文 &raquo;</a>
            </p>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  
  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous" target="_self">上一页</a>
  {% else %}
    <span class="previous">上一页</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }}/{{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next" target="_self">下一页</a>
  {% else %}
    <span class="next ">下一页</span>
  {% endif %}
</div>

</div>